body {
  margin: 0;
  background: linear-gradient(to right, #e0eafc, #cfdef3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#addtaskbutton{
  margin-top: 10px;
}

.listitem {
  display: flex;
  justify-content: space-between;
}

.list-group-item{
  background: linear-gradient(to right, #abbaab, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.taskbuttons{
  margin-top: 10px;
}

.binIcon{
  margin-left: 10px;
}

.taskTitle{
  overflow: hidden;
  max-width: 360px;
}